<footer class="container mx-auto py-20 px-4 opacity-40">
	<!-- <div class="text-sm mb-10">
		¹ You must have a Firebase project with Blaze plan activated; ² Text, assets and external services must be provided by your business in order to be white-label eligible; ³ You must provide access keys, tokens and API access to integrate Cloud Functions with external services; ⁴ Process of build, sign and upload Appstore and Play Store apps, as well as review follow-ups on behalf of your business. Your business must have development accounts across stores; ⁵ You can submit unlimited number os tasks where they will be analyzed and completed one-by-one. We do not take multiple tasks at the same time; ⁶ Branding assets design for a digital product such as icons, assets and logo;
	</div> -->
	<div class="flex flex-col md:flex-row items-start gap-8">
		<div class="flex flex-col">
			<div class="flex items-center gap-2">
				<a href="/">
					<img src="/logo-white.svg" class="h-7 w-7" />
				</a>
				<p class="text-xl font-semibold">Deplōid Studio</p>
			</div>
		</div>
		<div class="flex-1 flex flex-col text-lg gap-2">
			<a href="mailto: hello@deploid.studio" class="">hello@deploid.studio</a>
		</div>
		<div class="flex flex-col text-lg gap-2">
			<!-- <div class="flex items-center gap-3 bg-yellow-200 text-yellow-800 text-lg px-4 py-2 rounded-xl"><IconBrandFirebase size={24}/> Deploy with Firebase</div> -->
		</div>
		<div class="flex flex-col text-lg gap-2">
			<a href="https://deploidstudio.slack.com" target="_blank">Slack</a>
			<a href="https://github.com/deploidstudio" target="_blank">Github</a>
			<a href="https://twitter.com/marcusfelix" target="_blank">Twitter</a>
			<a href="https://www.instagram.com/deploidstudio/" target="_blank">Instagram</a>
		</div>
		<div class="flex flex-col text-lg gap-2">
			<a href="/terms">Terms of service</a>
			<a href="/privacy">Privacy policy</a>
		</div>
	</div>
	<div class="py-4">© {new Date().getFullYear()} Deplōid Studio</div>
</footer>
