<div class="relative border-zinc-700 z-10">
  <nav class="container mx-auto px-4 py-6 text-xl">
    <div class="flex items-center gap-6">
      <a href="/">
        <img src="/logo.svg" class="w-12 h-12"/>
      </a>
      <div class="flex-1"></div>
      <a href="javascript: gsap.to(window, { duration: 1, scrollTo: '#starter' });" class="hidden md:inline">Starter kits</a>
      <a href="javascript: gsap.to(window, { duration: 1, scrollTo: '#pricing' });" class="hidden md:inline">Pricing</a>
      <a href="javascript: gsap.to(window, { duration: 1, scrollTo: '#services' });" class="hidden md:inline">Services</a>
      
      <!-- <span class="flex gap-4 text-sm uppercase border-2 px-3 py-1 rounded-lg border-white/30">
        <a href="/" class="hidden md:inline">EN</a>
        <a href="/de" class="hidden md:inline">DE</a>
      </span> -->
      <!-- <button class="px-3 py-1 rounded-lg bg-white text-black">Get started</button> -->
    </div>
  </nav>
</div>